@charset "utf-8";

:root {
    --green: #53f24e;
    --orange: #ffa500;
    --blue: #1d1d9edd;
    --winning-blocks: #5a7684;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green);
    font-size: 100px;
    border-right: 2px solid var(--green);
    border-bottom: 2px solid var(--green);
}
.box:nth-child(3n) {
    border-right: none;
}
.box:nth-child(6)~.box {
    border-bottom: none;
} 

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--green);
    color: #ffffff;
    border-color: var(--blue);
    font-size: 18px;
    transition: 0.2s transform;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.player-X {
    color: red;
}

.player-O {
    color: orange;
}
